body {
    background-color: #ada99f;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    /*
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; */
}

nav {
    display: flex;
    justify-content: center;
    /* resolver: elementos nav están muy a la derecha  */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

a {
    text-decoration: none;
}

article {
    padding: 15px;
}

footer ul {
    list-style: none;
}

.homeHeaderContainer {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* resolver Mi Perfil quedando abajo en pantalla celu */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.iconoPerfil {
    display: flex;
    max-width: 50px;
}

.itemsNav {
    display: flex;
    padding: 15px;
}

.titulos {
    padding: 0px 30px;
}

.categoriasHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.itemsCategoriasHome {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    align-items: center;
}

.itemsCategoriasHome img {
    max-width: 300px;
    max-height: 300px;
    /* tratar de que las imagenes disminuyan un toque si la pantalla es de celu */
}

.iconoFavoritar img {
    max-width: 40px;
}

.perfilForm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    max-width: 300px;
}

.perfilHeaderContainer {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.perfilData {                 /* creado para el ul datos usuario */
    display: flex;
    flex-direction: column;
    list-style: none;
}

.perfilData li {             /* creado para el ul datos usuario */
    padding: 10px 0px;
}

.perfilCajas {
    display: flex;
    flex-wrap: wrap;
}
.perfilCajas section {
    min-width: 400px;
}

.iconoHome {
    display: flex;
    max-width: 50px;
}